div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.image {
    width: 800px;
}

.headline {
    font-family: sans-serif;
    font-size: 50px;
    color: blue;
}

.description {
    font-family: sans-serif;
    font-size: 20px;
    color: blue;
}

header {
    height: 60px;
    background-color: rgb(236, 98, 98);
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 100px;
    height: 40px;
    margin: 10px;
    background-color: rgb(255, 241, 47);
    border-radius: 12px;
    font-size: 18px;
    font-family: sans-serif;
}

button:hover {
    cursor: pointer;
}